<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="page-title">Dev community</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-background-light mb-2 sticky-top">
        <div class="container-fluid">
            <a href="../mainpage.html"><img src="../assets/logo.png" class="me-2" width="50" height="40" />
                <form class="d-flex" role="search">
            </a>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search-bar" />
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria 1-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="post-login-buttons"></ul>
                <!-- Contenido dinamico comienza -->
                <!-- Si el token de localstorage no esta disponible se muestra esto -->
                <a class="btn btn-light mx-1" id="log-in-btn" href="../view/LoginForm.html">Log in</a>
                <a class="btn btn-light mx-1" id="log-out-btn" href="">Log out</a>
                <a class="btn btn-outline-primary mx-1" id="create-account-btn">Create account</a>
                
                <!-- Si el token de localstorage esta disponible se muestra esto  -->
                <a class="btn btn-outline-primary mx-1" href="../post.html" id="create-post-btn">Create post</a>
                <a class="nav-link active mx-1" id="alert-bell">&#128276;</a>
                <img src="../assets/generic-avatar.png" alt="" class="rounded-circle mx-1" width="40" height="40"
                    id="user-avatar" />
            </div>
        </div>
    </nav>
    <main>
        <div class="container-fluid gap-3">
            <div class="row">
                <div class="col-md-1 col-sm-1 d-none d-sm-block">
                    <!-- Esta tarjeta tambien se debe generar de forma dinamica, solo debe aparecer con la verificacion del token de localstorage -->
                    <div class="d-grid gap-2 p-0 mt-3">
                        <a class="btn btn-light text-start" href="#">❤️ 138</a>
                        <a class="btn btn-light text-start" href="#">💬 5</a>
                        <a class="btn btn-light text-start" href="#" id="tag-quantity"></a>
                        <a class="btn btn-light text-start" href="#">...</a>

                    </div>
                </div>

                <!-- Contenido principal -->
                <!-- Aqui todo el contenido sera dinamico
                La primera tarjeta lleva los siguientes elementos:
                - Imagen
                - Autor
                - Fecha de publicacion
                - Titulo
                - Tags
                - numero de comentarios[si no tiene comentarios no se muestra]
                - numero de reacciones[si no tiene racciones no se muestra]
                - tiempo estimado de lectura
                - boton de bookmark
                -->
                <div class="col-md-8 col-sm-9">
                    <div class="card mb-3"><a href=""><img
                                class="card-img-top object-fit-cover" id="post-picture" height="500px" src=""></a>
                        <div class="card-body">
                            <div class="author-box"><img src="../assets/generic-avatar.png">
                                <div>
                                    <h6><span><a href="" id="post-author"></a></span></h6>
                                    <p><a href="" id ="post-date"></a></p>
                                </div>
                            </div>
                            <div class="post-title"><a href="" id="post-title"></a></div>
                            <div><p id="post-content">

                            </p></div>
                            <div class="post-footer" id="tag-wrapper">
                            </div>
                            <div class="post-footer">
                                <div><a href="">💓10 reactions</a></div>
                                <div><a href="">5 comments</a></div><span><a
                                        href="">4 minute read</a></span>
                                <div><a><img src="../assets/bookmark.svg" alt="Bookmark"></a></div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="card mb-3">
                        <img id="post-picture"
                            src="https://media.dev.to/cdn-cgi/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fw19259c6raar2ple6904.png"
                            class="card-img-top" alt="..." />
                        <div class="card-body">
                            <div class="d-flex">
                                <img id="post-imgAuthor" src="assets/generic-avatar.png" alt=""
                                    class="rounded-circle  me-3" width="40" height="40" />

                                <div class="d-flex flex-column">
                                    <a class="card-subtitle mb-2 text-muted text-start" id="post-author">Author</a>
                                    <a class="" id="post-date">date</a>
                                </div>
                            </div>
                            <div class="d-flex">
                                <a class="btn btn-light" id="post-reactions">Reactions(solo si hay)</a>
                                <span>{n} minute read</span>
                                <a class="btn btn-light">🔖</a>
                            </div>
                            <a class="card-title post-title " id="post-title">Post title</a>
                            <div class="d-flex">
                                <a class="btn btn-light" id="tag1">tag 1</a>
                                <a class="btn btn-light" id="tag2">tag 2</a>
                                <a class="btn btn-light" id="tag3">tag 3</a>
                            </div>
                            <div class="d-flex flex-column">
                                <h4>!</h4>
                            </div>
                            <div class="d-flex flex-column" id="post-content">
                                <p>description, se genera dinamicamente a partir de la
                                    informacion de la base de datos, se muestran 5 items por
                                    tarjeta y se muestran dos tarjetas en este aside derecho
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="top comennts ">Top comments (1)</h4>
                            <div class="author-box">
                                <img src="../assets/generic-avatar.png" alt="" class="rounded-circle  me-3" width="40"
                                    height="40" />

                                <div class="d-flex flex-column">
                                    <h6><a class="card-subtitle mb-2 text-muted text-start">El comentador</a></h6>
                                    <p>2024-05-06</a>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur hic possimus optio deserunt est dolorum eius, ab ipsum voluptatem porro magni quod? Fugiat aliquam est quia dolores officia blanditiis praesentium!
                            </p>

                            <div class="d-flex">
                                <a class="btn btn-light">❤️ 4 likes</a>
                                <a class="btn btn-light">💬 reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-body">
                            <h4 class="top comennts ">Other comments(4)</h4>
                            <div class="author-box">
                                <img src="../assets/generic-avatar.png" alt="" class="rounded-circle  me-3" width="40"
                                    height="40" />

                                <div class="d-flex flex-column">
                                    <h6><a class="card-subtitle mb-2 text-muted text-start">El comentador</a></h6>
                                    <p>2024-05-06</a>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur hic possimus optio deserunt est dolorum eius, ab ipsum voluptatem porro magni quod? Fugiat aliquam est quia dolores officia blanditiis praesentium!
                            </p>

                            <div class="d-flex">
                                <a class="btn btn-light">❤️ 4 likes</a>
                                <a class="btn btn-light">💬 reply</a>
                            </div>
                            <div class="author-box">
                                <img src="../assets/generic-avatar.png" alt="" class="rounded-circle  me-3" width="40"
                                    height="40" />

                                <div class="d-flex flex-column">
                                    <h6><a class="card-subtitle mb-2 text-muted text-start">El comentador</a></h6>
                                    <p>2024-05-06</a>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur hic possimus optio deserunt est dolorum eius, ab ipsum voluptatem porro magni quod? Fugiat aliquam est quia dolores officia blanditiis praesentium!
                            </p>

                            <div class="d-flex">
                                <a class="btn btn-light">❤️ 4 likes</a>
                                <a class="btn btn-light">💬 reply</a>
                            </div>
                            <div class="author-box">
                                <img src="../assets/generic-avatar.png" alt="" class="rounded-circle  me-3" width="40"
                                    height="40" />

                                <div class="d-flex flex-column">
                                    <h6><a class="card-subtitle mb-2 text-muted text-start">El comentador</a></h6>
                                    <p>2024-05-06</a>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur hic possimus optio deserunt est dolorum eius, ab ipsum voluptatem porro magni quod? Fugiat aliquam est quia dolores officia blanditiis praesentium!
                            </p>

                            <div class="d-flex">
                                <a class="btn btn-light">❤️ 4 likes</a>
                                <a class="btn btn-light">💬 reply</a>
                            </div>
                            <div class="author-box">
                                <img src="../assets/generic-avatar.png" alt="" class="rounded-circle  me-3" width="40"
                                    height="40" />

                                <div class="d-flex flex-column">
                                    <h6><a class="card-subtitle mb-2 text-muted text-start">El comentador</a></h6>
                                    <p>2024-05-06</a>
                                </div>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur hic possimus optio deserunt est dolorum eius, ab ipsum voluptatem porro magni quod? Fugiat aliquam est quia dolores officia blanditiis praesentium!
                            </p>

                            <div class="d-flex">
                                <a class="btn btn-light">❤️ 4 likes</a>
                                <a class="btn btn-light">💬 reply</a>
                            </div>
                        </div>
                    </div>




                </div>

                <!-- Sidebar derecho -->
                <div class="col-md-3 d-none d-md-block">
                    <div class="author-card">
                            <div class="author-container"><img src="../assets/generic-avatar.png">
                                <div>
                                    <h6 id="post-author2"><span><a  href="" ></a></span></h6>
                                </div>
                            </div>
                            <div class="d-grid gap-2">
                                <button class="btn btn-primary">Follow</button>
                            </div>
                            <div class="author-card-body">
                                        <h6>LOCATION</h6>
                                        <span>México</span>
                                        <h6>EDUCATION</h6>
                                        <span>Ing. Mecatrónica</span>
                                        <h6>WORK</h6>
                                        <span>Front-end Developer</span>
                                        <h6>JOINED</h6>
                                        <span>Sep 3, 2019</span>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../js/detailpost.js" type="module"></script>
</body>

</html>